@charset "UTF-8";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 5 may 2021, 1:09:06
    Author     : axelf
*/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300, 400, 500;
  font-display: swap;
  src: url("../../payment-card/fonts/Roboto-Regular.ttf");
}
html {
  --card-color: #cacaca;
  --text-color: #e1e1e1;
}

.space-card {
  font-family: "Roboto", sans-serif;
}

.payment-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: auto;
  width: 680px;
}
.payment-body .col1-payment {
  perspective: 1000;
  transform-style: preserve-3d;
}
.payment-body .col1-payment .card_payment {
  position: relative;
  width: 420px;
  height: 250px;
  margin-bottom: 85px;
  margin-right: 10px;
  border-radius: 17px;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.1);
  transition: all 1s;
  transform-style: preserve-3d;
}
.payment-body .col1-payment .card_payment .front {
  position: absolute;
  background: var(--card-color);
  border-radius: 17px;
  padding: 50px;
  width: 100%;
  height: 100%;
  transform: translateZ(1px);
  -webkit-transform: translateZ(1px);
  transition: background 0.3s;
  z-index: 50;
  background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), -webkit-linear-gradient(-245deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 90%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.payment-body .col1-payment .card_payment .front .type {
  position: absolute;
  width: 75px;
  height: 45px;
  top: 20px;
  right: 20px;
}
.payment-body .col1-payment .card_payment .front .type img {
  width: 170%;
  float: right;
}
.payment-body .col1-payment .card_payment .front .card_number {
  position: absolute;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -1px;
  top: 110px;
  color: var(--text-color);
  word-spacing: 3px;
  transition: color 0.5s;
}
.payment-body .col1-payment .card_payment .front .date {
  position: absolute;
  bottom: 40px;
  right: 30px;
  width: 95px;
  height: 35px;
  color: var(--text-color);
  transition: color 0.5s;
}
.payment-body .col1-payment .card_payment .front .date .date_value {
  font-size: 12px;
  position: absolute;
  margin-left: 28px;
  margin-top: 12px;
  color: var(--text-color);
  font-weight: 500;
  transition: color 0.5s;
}
.payment-body .col1-payment .card_payment .front .date:after {
  content: "Mes / Año";
  position: absolute;
  display: block;
  font-size: 9px;
  margin-left: 28px;
}
.payment-body .col1-payment .card_payment .front .date:before {
  content: "valida \ahasta";
  position: absolute;
  display: block;
  font-size: 9px;
  white-space: pre;
  margin-top: 11px;
  line-height: initial;
}
.payment-body .col1-payment .card_payment .front .fullname {
  position: absolute;
  font-size: 20px;
  bottom: 40px;
  color: var(--text-color);
  transition: color 0.5s;
}
.payment-body .col1-payment .card_payment .back {
  position: absolute;
  width: 100%;
  border-radius: 17px;
  height: 100%;
  background: var(--card-color);
  transform: rotateY(180deg);
}
.payment-body .col1-payment .card_payment .back .magnetic {
  position: absolute;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.7);
  margin-top: 25px;
}
.payment-body .col1-payment .card_payment .back .bar {
  position: absolute;
  width: 80%;
  height: 37px;
  background: rgba(255, 255, 255, 0.7);
  left: 10px;
  margin-top: 100px;
}
.payment-body .col1-payment .card_payment .back .seccode {
  font-size: 13px;
  color: var(--text-color);
  font-weight: 500;
  position: absolute;
  top: 100px;
  right: 40px;
}
.payment-body .col1-payment .card_payment .back .chip {
  bottom: 45px;
  left: 10px;
}
.payment-body .col1-payment .card_payment .back .disclaimer {
  position: absolute;
  width: 65%;
  left: 80px;
  color: #f1f1f1;
  font-size: 8px;
  bottom: 55px;
}
.payment-body .col2-payment input {
  display: block;
  width: 260px;
  height: 30px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 7px;
  font-size: 17px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.05);
  border: none;
  transition: background 0.5s;
}
.payment-body .col2-payment input:focus {
  outline-width: 0;
  background: rgba(31, 134, 252, 0.15);
  transition: background 0.5s;
}
.payment-body .col2-payment label {
  padding-left: 8px;
  font-size: 15px;
  color: #444;
}
.payment-body .col2-payment .ccv {
  width: 40%;
}

.chip {
  position: absolute;
  width: 55px;
  height: 40px;
  background: #bbb;
  border-radius: 7px;
}
.chip:after {
  content: "";
  display: block;
  width: 35px;
  height: 25px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ddd;
}